secrets
histfile
elpa/
ido.last
smex-items
auto-save-list/
eshell/
recentf
var/
.smex-items
ac-comphist.dat
misc/
srecode-map.el
backup/
.DS_Store
vim/dirs/
vim/undo/
vim/dirs/*
vim/undo/*
vim/dirs/**
vim/undo/**